body{
	font-size: 20px;
	font-family: sans-serif;
	color: #333;
}
.game-box{
    background: #f3e1c5;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0.,0,0,0.23);
}
.answer-item{
    background: rgb(7, 180, 223);
    width: 90%;
    display: inline-block;
    border-radius:8px;
    padding: 3px;
}
#btn-start{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #297;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#btn-start:hover{
	background-color: #3a8;
}
#code-title{
    text-align: center;
    font-weight: bold;
}